<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>GACW to XGAC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>FCVHQUNX</data>
					<key>Replace</key>
					<data>FCVYR0FD</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBAW  to XGAB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RQRHQkFX</data>
					<key>Replace</key>
					<data>RQRYR0FC</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BTIF to XTIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRJRgl5</data>
					<key>Replace</key>
					<data>WFRJRgl5</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BTST to XTST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRTVAo=</data>
					<key>Replace</key>
					<data>WFRTVAo=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ITLB to XITL</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TQRJVExC</data>
					<key>Replace</key>
					<data>TQRYSVRM</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBTI to XBTI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JUSQE=</data>
					<key>Replace</key>
					<data>WEJUSQE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBTC to XGBU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QiBHQlRD</data>
					<key>Replace</key>
					<data>QiBYR0JV</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SBTC to XSBT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SSZTQlRD</data>
					<key>Replace</key>
					<data>SSZYU0JU</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GCGC to XGCG</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TwdHQ0dD</data>
					<key>Replace</key>
					<data>TwdYR0NH</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Return Zero in _STA of TPD0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1NUQQCkCg8UMw==</data>
					<key>Replace</key>
					<data>X1NUQQCkCgAUMw==</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 rtcfx_exclude=81-FF</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<false/>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>HWPEnable</key>
		<false/>
		<key>QEMU</key>
		<false/>
		<key>TurboDisable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,9ded</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>YwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-preferred-lspcon-mode</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en-US:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Catalina</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string></string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>03/07/2020</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP152.88Z.F000.B00.2003070250</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.100.355.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string></string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>